<div mat-dialog-content>
  <div class="container bg">
    <div class="col-12 d-flex justify-content-end">
      <mat-icon mat-dialog-close class="close mt-2">close</mat-icon>
    </div>
    <div class="row">
      <h1 mat-dialog-title class="fw-bold text-center">
        ¿QUÉ ES
        <img
          src="../../../../../../assets/images/LogoRizomas.png"
          class="img-fluid logo"
        />?
      </h1>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center mt-4">
        <audio
          src="../../../../../assets/audio/AUDIO_RIZOMAS.mp3"
          autoplay
          controls
          controlslist="nodownload"
        ></audio>
      </div>
    </div>
  </div>
</div>
