.rizoNav {
  background-color: #58aa21;
}

.tittle {
  margin-top: auto;
  font-size: 1.6rem;
  color: white;
}

img {
  margin-left: auto;
  margin-right: 10px;
  width: 200px;
}

.login {
  margin-top: 10px;
  margin-right: -25vw;
}

.logOut {
  margin-top: 10px;
  margin-right: -25vw;
}

.comencemos {
  display: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: 2px solid;
  box-shadow: none;
}

@media (max-width: 480px) {
  .comencemos {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  .login {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  .logOut {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .tittle {
    margin-bottom: auto;
    font-size: 1.02rem;
    color: white;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .comencemos {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  .login {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  .logOut {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  .tittle {
    margin-bottom: auto;
    font-size: 1.5rem;
    color: white;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .tittle {
    margin-left: auto;
    margin-bottom: auto;
    font-size: 2rem;
    color: white;
  }
}
