<rizo-navbar
  [btnLogin]="false"
  [btnStart]="false"
  [btnLogOut]="true"
  [tittle]="'MAPAS'"
></rizo-navbar>
<mat-tab-group
  (selectedTabChange)="tabChange($event)"
  mat-align-tabs="center"
  animationDuration="2000ms"
>
  <mat-tab label="arbol">
    <ng-template mat-tab-label>
      <mat-icon color="primary">nature</mat-icon>
      ÁRBOL
    </ng-template>
    <rizo-arbol></rizo-arbol>
  </mat-tab>
  <mat-tab label="mujeres">
    <ng-template mat-tab-label>
      <mat-icon color="accent">local_florist</mat-icon>
      MUJERES
    </ng-template>
    <rizo-mujeres></rizo-mujeres>
  </mat-tab>
</mat-tab-group>
